{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<div class="container py-5">
  <h2 class="mb-4 text-center fw-bold">Create Your Finance AI Coach Account</h2>

  <form method="POST" action="{% url 'signup' %}" class="mx-auto" style="max-width:500px;">
    {% csrf_token %}

    	<div class="mb-3">
  	<label class="form-label">First Name</label>
  	<input type="text" class="form-control" name="first_name" required>
	</div>

	<div class="mb-3">
  	<label class="form-label">Last Name</label>
  	<input type="text" class="form-control" name="last_name" required>
	</div>

    <div class="mb-3">
      <label class="form-label">Email Address</label>
      <input type="email" class="form-control" name="email" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Create Account</button>
  </form>
</div>
{% endblock %}
